/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
          bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                                  &kp N6 &mt N7 MINUS &mt N8 EQUAL &kp N9  &kp N0   &kp BSLH
&kp ESC   &kp Q  &kp W  &kp F    &kp P    &kp B                                   &kp J  &kp L        &kp U        &kp Y   &kp SEMI &kp MINUS
&kp BSPC  &kp A  &kp R  &kp S    &kp T    &kp G                                   &kp M  &kp N        &kp E        &kp I   &kp O    &kp EQUAL
&kp LCTRL &kp Z  &kp X  &kp C    &kp D    &kp V  &kp LBKT          &kp RBKT       &kp K  &kp H        &kp COMMA    &kp DOT &kp FSLH &kp SQT
                        &kp LALT &kp LGUI &mo 1  &mt LSHIFT SPACE  &mt RET TAB    &mo 2  &kp RALT     &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
